* {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: center;
  background-color: rgb(26, 26, 26);
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin: 10px;
}

li > a {
  color: white;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
}

li > a:hover {
  color: red;
}

#start {
  width: 100%;
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./img/hero.jpg");
}
