* {
  margin: 0;
  padding: 0;
}

.hero-section {
  background-image: url("./img/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
